<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="CyberPunk3000" connectionString="Server=.\SQLEXPRESS2017;Database=CyberPunk3000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ToolsCharacterForm.Properties.Settings.CyberPunk3000ConnectionString"
      connectionString="Data Source=NAUTILUS\SQLEXPRESS2017;Initial Catalog=CyberPunk3000;Persist Security Info=True;User ID=sa;Password=Heaven142324!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>